.stars-container {
  margin: 150px auto 0;
  box-sizing: border-box;
  padding: 22px;

  display: flex;
  flex-direction: column;
  gap: 4px;

  width: 140px;
  height: 160px;
}

.stars {
  display: flex;
  gap: 4px;
}

.star {
  background-image: url("./images/star.svg");

  background-repeat: no-repeat;
  background-size: 16px;
  background-position: center;

  height: 16px;
  width: 16px;
}

.stars--1 .star:nth-child(-n + 1),
.stars--2 .star:nth-child(-n + 2),
.stars--3 .star:nth-child(-n + 3),
.stars--4 .star:nth-child(-n + 4),
.stars--5 .star:nth-child(-n + 5) {
  background-image: url("./images/star-active.svg");
}

.star--active {
  background-image: url("./images/star-active.svg");
}
